html {
  position: relative;
  min-height: 100%;
}
body {
  padding-top: 51px;
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.footer .container .text-muted {
  margin: 20px 0;
}

.footer .container {
  padding-right: 15px;
  padding-left: 15px;
}

.jumbotron {
  padding-top: 24px;
  padding-bottom: 24px;
}

.content h1:first-of-type,
.content h1:first-of-type + p:first-of-type {
  text-align: center;
}

.downloads {
  width: 210px;
  height: 70px;
  background: url('../images/icon_download.png') no-repeat 0 90%;
}

.downloads .link {
  display: block;
  float: right;
  width: 90px;
  height: 70px;
  text-indent: -5000px;
  overflow: hidden;
}

.downloads .link.zip {
  background: url('../images/sprite_download.png') no-repeat bottom left;
}

.downloads .link.tgz {
  background: url('../images/sprite_download.png') no-repeat bottom right;
  margin-left: 10px;
}

.downloads .link.zip:hover {
  background: url('../images/sprite_download.png') no-repeat top left;
}

.downloads .link.tgz:hover {
  background: url('../images/sprite_download.png') no-repeat top right;
}

ol.linenums {
  margin-left: 0;
}

th {
  padding: 10px;
  background: #373737;
  color: #fff;
}

/* Base class */
.bs-docs-example {
  position: relative;
  margin: 15px 0;
  padding: 39px 19px 14px;
  *padding-top: 19px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.bs-docs-example > p {
  margin-top: 20px;
}

/* Echo out a label for the example */
.bs-docs-example:after {
  content: "Example";
  position: absolute;
  top: -1px;
  left: -1px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  color: #9da0a4;
  -webkit-border-radius: 4px 0 4px 0;
  -moz-border-radius: 4px 0 4px 0;
  border-radius: 4px 0 4px 0;
}

/* Remove spacing between an example and it's code */
.bs-docs-example + .prettyprint {
  margin-top: -20px;
  padding-top: 15px;
}

.bs-docs-example > p:last-child {
  margin-bottom: 0;
}

.bs-docs-example .table,
.bs-docs-example .progress,
.bs-docs-example .well,
.bs-docs-example .alert,
.bs-docs-example .hero-unit,
.bs-docs-example .pagination,
.bs-docs-example .navbar,
.bs-docs-example > .nav,
.bs-docs-example blockquote {
  margin-bottom: 5px;
}

.bs-docs-example .pagination {
  margin-top: 0;
}
